/* stylelint-disable no-duplicate-selectors, no-descending-specificity */

%push-align {
  $md-width: map-get($container-max-widths, 'md');
  $lg-width: map-get($container-max-widths, 'lg');
  $xl-width: map-get($container-max-widths, 'xl');
  $xxl-width: map-get($container-max-widths, 'xxl');
  $float-width: (($xxl-width - $md-width) / 2) - $grid-gutter-width;

  &.alignleft,
  &.alignright {
    width: 100%;
    max-width: 100%;
    float: none;

    > p {
      font-size: 110%;
    }

    @include media-breakpoint-up(md) {
      width: $float-width;
      margin-top: 10px;
    }
  }

  &.alignleft {
    @include media-breakpoint-up(md) {
      margin-left: calc(-100vw / 2 + 100% / 2 + #{$grid-gutter-width}) !important;
      margin-right: $grid-gutter-width;
      float: left;
      clear: left;
    }

    @include media-breakpoint-up(lg) {
      margin-left: - (($lg-width - $md-width) / 2) !important;
      // margin-right: $grid-gutter-width;
      // float: left;
    }

    @include media-breakpoint-up(xl) {
      margin-left: - (($xl-width - $md-width) / 2) !important;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: - (($xxl-width - $md-width) / 2) - ($float-width / 2) !important;
    }
  }

  &.alignright {
    @include media-breakpoint-up(md) {
      margin-right: calc(-100vw / 2 + 100% / 2 + #{$grid-gutter-width}) !important;
      margin-left: $grid-gutter-width;
      float: right;
      clear: right;
    }

    @include media-breakpoint-up(lg) {
      margin-right: - (($lg-width - $md-width) / 2) !important;
      // margin-left: $grid-gutter-width;
      // float: right;
    }

    @include media-breakpoint-up(xl) {
      margin-right: - (($xl-width - $md-width) / 2) !important;
    }

    @include media-breakpoint-up(xxl) {
      margin-right: - (($xxl-width - $md-width) / 2) - ($float-width / 2) !important;
    }
  }
}

//
// wp-block-image
//
.wp-block-image {
  @extend %mb-r;

  figure {
    @extend %push-align;

    &.alignleft {
      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }

    &.alignright {
      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
  }

  figure.aligncenter {
    margin-left: auto;
    margin-right: auto;

    > figcaption {
      text-align: center;
    }
  }

  /*
  figure.alignleft,
  figure.alignright {
    img {
      // width: inherit;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  */

  figcaption {
    margin-top: .5em;
    color: var(--muted);
    text-align: left;
    font-size: 13px;
  }

  img {
    max-width: 100%;
    // width: 100%;
    height: auto;
  }
}

//
// wp-block-embed
//
.wp-block-embed {
  @extend %mb-r;

  /*
  &figure {

  }
  */

  iframe {
    display: block;
  }

  &.is-type-video {
    position: relative;

    /*
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }
    */

    > iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

//
// wp-block-separator
//
.wp-block-separator {
  @extend %mt-r;
  @extend %mb-r;

  clear: both;

  &:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
  }

  &.is-style-wide {
    max-width: 100%;
  }

  &.is-style-dots {
    max-width: 100px;

    &::before {
      padding-left: 0;
    }
  }
}

//
// wp-block-gallery
//
.wp-block-gallery {
  @extend %mb-r;

  + .wp-block-gallery {
    @extend %content-spacer-pull-top;
  }

  $gallery-spacing: 16px;

  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 700px !important;

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: ($gallery-spacing / 2) $gallery-spacing ($gallery-spacing / 2) 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc(100% / 2 - #{$gallery-spacing});
  }

  .blocks-gallery-item:last-child() {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    .blocks-gallery-item {
      &:nth-child(2n+0) {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    @for $i from 2 through 8 {
      &.columns-#{$i} {
        .blocks-gallery-image,
        .blocks-gallery-item {
          width: calc(100% / #{$i} - #{$gallery-spacing});
        }

        .blocks-gallery-image,
        .blocks-gallery-item {
          &:nth-child(#{$i}n+0) {
            margin-right: 0;
          }
        }
      }
    }
  }

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  img {
    flex: 1;
    width: 100%;
    height: 100%;
    // object-fit: cover;
    @include object-fit(cover, 50% 50%);
  }
}

//
// wp-block-cover-image
//
.wp-block-cover-image {
  @extend %mb-r;
}

//
// wp-block-button
//
.wp-block-button {
  @extend %mb-r;

  .wp-block-button__link {
    @extend .btn;
  }

  &.alignleft {
    margin-right: 0.5rem;
  }

  &.alignright {
    margin-left: 0.5rem;
  }
}

.wp-block-button__link.has-primary-background-color {
  @extend .btn-primary;
}

.wp-block-button__link.has-secondary-background-color {
  @extend .btn-secondary;
}

.wp-block-button__link.has-dark-background-color {
  @extend .btn-dark;
}

.wp-block-button__link.has-muted-background-color {
  @extend .btn-muted;
}

//
// wp-block-file
//
.wp-block-file {
  @extend %mb-r;
}

.wp-block-file__button {
  @extend .btn-dark;
  @extend .btn-sm;
}

//
// wp-block-archives
//
.wp-block-archives {
  @extend %mb-r;
}

//
// wp-block-categories
//
.wp-block-categories {
  @extend %mb-r;
}

//
// wp-block-quote
//
.wp-block-quote {
  @extend %mb-r;

  &:not(.is-large):not(.is-style-large) {
    border-left: 4px solid $dark;
    padding-left: 1em;
  }

  &.is-large,
  &.is-style-large {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    font-size: 125%;

    p {
      font-size: 130%;
      font-style: italic;
    }

    cite {
      width: 100%;
      text-align: right;
    }
  }
}

//
// wp-block-pullquote
//
.wp-block-pullquote {
  @extend %push-align;
  @extend %mb-r;

  font-size: 110%;
  border-width: 1px 0 !important;
  border-color: $gray-500;//var(--muted);
  border-style: solid none;
  padding: 1rem .5rem 1rem .5rem;
}

//
// wp-block-columns
//

/*
.wp-block-columns {
  &.has-2-columns {
    .wp-block-column {
      &:nth-child(1) {
        margin-right: $grid-gutter-width;
      }

      &:nth-child(2) {
        margin-left: $grid-gutter-width;
      }
    }
  }
}
*/

/*
.wp-block-columns {
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
}

.wp-block-column {
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
*/
