/* stylelint-disable no-duplicate-selectors, no-descending-specificity */

//
// wp-block-image
//
.wp-block-image {
  // @extend %mb-r;
  display: inline;

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  .alignleft img,
  .alignright img {
    width: inherit;
  }
}

//
// wp-block-embed
//
.wp-block-embed {
  @extend %mb-r;

  iframe {
    display: block;
  }

  &.is-type-video {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }

    > iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

//
// wp-block-embed
//
.wp-block-separator {
  @extend %mt-r;
  @extend %mb-r;
}

//
// wp-block-gallery
//
.wp-block-gallery {
  @extend %mb-r;

  + .wp-block-gallery {
    @extend %content-spacer-pull-top;
  }

  $gallery-spacing: 16px;

  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 700px !important;

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: ($gallery-spacing / 2) $gallery-spacing ($gallery-spacing / 2) 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc(100% / 2 - #{$gallery-spacing});
  }

  .blocks-gallery-item:last-child() {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    .blocks-gallery-item {
      &:nth-child(2n+0) {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    @for $i from 2 through 8 {
      &.columns-#{$i} {
        .blocks-gallery-image,
        .blocks-gallery-item {
          width: calc(100% / #{$i} - #{$gallery-spacing});
        }

        .blocks-gallery-image,
        .blocks-gallery-item {
          &:nth-child(#{$i}n+0) {
            margin-right: 0;
          }
        }
      }
    }
  }

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  img {
    flex: 1;
    width: 100%;
    height: 100%;
    // object-fit: cover;
    @include object-fit(cover, 50% 50%);
  }
}

//
// wp-block-cover-image
//
.wp-block-cover-image {
  display: flex !important;
}
