@each $key, $var in $theme-color-vars {
  .btn-#{$key} {
    background-color: var(#{$var});
    border-color: var(#{$var});

    &:hover {
      background-color: var(#{$var}-darken-7_5);
      border-color: var(#{$var}-darken-10);
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      // color: color-yiq($background);
      background-color: var(#{$var});
      border-color: var(#{$var});
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      background-color: var(#{$var}-darken-10);
      border-color: var(#{$var}-darken-12_5);

      &:focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
          box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
        } @else {
          box-shadow: 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
        }
      }
    }
  }
}

@each $key, $var in $theme-color-vars {
  .btn-outline-#{$key} {
    color: var(#{$var});
    border-color: var(#{$var});

    &:hover {
      color: #fff;
      background-color: var(#{$var});
      border-color: var(#{$var});
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
    }

    &.disabled,
    &:disabled {
      color: var(#{$var});
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: #fff;
      background-color: var(#{$var});
      border-color: var(#{$var});

      &:focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows and $btn-active-box-shadow != none {
          box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
        } @else {
          box-shadow: 0 0 0 $btn-focus-width rgba(var(#{$var}-r), var(#{$var}-g), var(#{$var}-b), .5);
        }
      }
    }
  }
}
