.entry-content-asset {
  iframe {
    max-width: 100%;
  }
}

/*
.spotify-embed-wrapper {
  background: #282828;
  width: 100%;

  &.spotify-view-coverart {
    max-width: 300px;
  }

  .entry-content-asset {
    display: block;
    width: 100%;
  }

  iframe {
    width: 100%;
    display: block;
  }

  .caption {
    padding: 8px 5px 10px 10px;
    font-size: .8rem;
    color: #656565;
    border-top: 1px solid #3e3e3e;
  }
}
*/

.embed-wrapper {
  iframe {
    background-color: $gray-100;
  }

  &.preserve-aspect-ratio {
    display: block;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      display: block;
      padding-bottom: 56.25%; /* 16:9 */
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // Added by fusion????
  .fluid-width-video-wrapper {
    position: absolute;
    top: 0;
  }
}

/*
.facebook-embed-wrapper {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 3px solid #1c1c1c;
    z-index: 2;
    pointer-events: none;
  }

  p {
    margin: 0;
  }
}
*/
