// Field/form container styling:
.gform_fields {
  @extend .list-unstyled;
}

// Field container clear
.gfield {
  @extend .form-group;

  // Enable bootstrap grid on gravity forms
  &[class*="col-"] {
    clear: none;
  }
}

//
//	Required *:
//
.gfield_required {
  color: $form-feedback-invalid-color;
  padding-left: 1px;
}

//
//	input, select, and textarea elemnt extends:
//
input.medium,
select.medium,
textarea.medium {
  @extend .form-control;
}

// Small size
input.small,
select.small,
textarea.small {
  @extend .form-control;
  @extend .form-control-sm;
}

// Large size
input.large,
select.large,
textarea.large {
  @extend .form-control;
  @extend .form-control-lg;
}

//
//	Button extend:
//
.gform_button {
  @extend .btn;
  // @extend .btn-primary;

  margin-right: 0.5rem;
}

.validation_message {
  font-style: italic;
  margin-top: 5px;
}

//
//	Error/notification messages handling:
//

.gfield_error {
  input.small,
  textarea.small,
  input.medium,
  textarea.medium,
  input.large,
  textarea.large {
    border-color: $form-feedback-invalid-color;

    &:focus {
      border-color: $form-feedback-invalid-color;
      box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, 0.25);
    }
  }

  .validation_message {
    color: $form-feedback-invalid-color;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.gform_confirmation_message {
  @extend .alert;
  @extend .alert-success;
}

#gforms_confirmation_message {
  @extend .alert;
}

// Add BS4 clearfix
.gf_clear_complex {
  @extend .clearfix;
}

// Honeypot validation container
// - hides .gform_validation_container
.gform_validation_container {
  display: none;
}

.gform_wrapper .gfield_html {
  margin: 0;
}

/*
 *  Spinner
 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gform_ajax_spinner {
  margin-left: 5px;
  animation: spin 1.5s linear infinite;
}

/*
 *  Inline Form
 */
.form-inline_wrapper {
  .gform_body,
  .gform_fields,
  .ginput_container,
  .gform_footer {
    vertical-align: top;
    display: inline-block;
  }

  .gfield_label {
    display: inline-block;
    margin-right: 5px;
  }
}

.form-inline {
  .gform_fields {
    margin-bottom: 0;
  }
}

/*
 * Adds ability to hide labels
 *
 * @usage: Add the class 'gfield_label' to a gravity forms field
 */
.sr-only-label .gfield_label {
  @extend .sr-only;
}

/*
 * Make gfield compatible with the .row class. Add .row for a single gform field to make it horizontal
 */
.horizontal-form-md {
  @include media-breakpoint-up('md') {
    .gfield {
      @include make-row();

      margin-left: 0;
      margin-right: 0;

      .gfield_label {
        @include make-col-ready();
        @include make-col(2, $grid-columns);

        padding-left: 0;
      }

      .ginput_container {
        @include make-col-ready();
        @include make-col(10, $grid-columns);

        padding-right: 0;
      }

      .gfield_description {
        @include make-col-ready();
        @include make-col(10, $grid-columns);
        @include make-col-offset(2, $grid-columns);

        padding-right: 0;
      }

      .gfield_label { /* stylelint-disable-line no-duplicate-selectors */ // Equivalent to bootstraps .col-form-label
        padding-top: calc(#{$input-padding-y} + #{$input-border-width});
        padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
        margin-bottom: 0; // Override the `<label>/<legend>` default
        font-size: inherit; // Override the `<legend>` default
        line-height: $input-line-height;
      }

      &.form-control-sm {
        .gfield_label { // Equivalent to bootstraps .col-form-label-sm
          padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
          padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
          font-size: $font-size-sm;
          line-height: $input-line-height-sm;
        }
      }

      &.form-control-lg {
        .gfield_label { // Equivalent to bootstraps .col-form-label-lg
          padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
          padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
          font-size: $font-size-lg;
          line-height: $input-line-height-lg;
        }
      }
    }

    .gform_footer {
      @include make-col-ready();
      @include make-col(10, $grid-columns);
      @include make-col-offset(2, $grid-columns);

      padding-right: 0;
    }
  }
}

/**
 * Modification classes.
 */

// Add .gform__btn-secondary to the form for btn-primary submit button style
.gform-_gform_button--btn-secondary {
  .gform_button {
    @extend .btn-secondary;
  }
}

// Add .gform__btn-primary to the form for btn-primary submit button style
.gform-_gform_button--btn-primary {
  .gform_button {
    @extend .btn-primary;
  }
}
