// stylelint-disable no-duplicate-selectors, no-descending-specificity

// Based on https://codepen.io/anon/pen/LmQBox

/* btn */

.navbar-toggler {
  // padding: .75rem;
  // font-size: 1.25rem;
  // line-height: 1;
  // background-color: #00000057;
  // border: 1px solid #7b383800;
  // border-radius: 50px;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 100px;
    background-color: rgba($gray-500, 0.2);
    background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.2);
    transform: scale(0.1);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.4s;
    transition-delay: 0s, 0s;
  }

  &:focus {
    outline: none;

    &::before {
      transform: scale(1.35);
      opacity: 1;
    }
  }
}

// Base toggler styles.
.navbar-toggler {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  // margin: 25px;

  span {
    margin: 0 auto;
    position: relative;
    top: 0; // 12px;
  }

  span::before,
  span::after {
    position: absolute;
    content: '';
  }

  span,
  span::before,
  span::after {
    width: 30px;
    height: 6px;
    background-color: #000;
    display: block;
  }

  span::before {
    margin-top: -12px;
  }

  span::after {
    margin-top: 12px;
  }
}

.navbar-dark {
  .navbar-toggler {
    span,
    span::before,
    span::after {
      background-color: #fff;
    }
  }
}

/* example 5 */
// The menu is open, show an X icon instead.
.navbar-toggler {
  span {
    transition-duration: 0s;
    transition-delay: 0.2s;
  }

  span::before {
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
  }

  span::after {
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
  }
}

.navbar-toggler:not(.collapsed) {
  span {
    background-color: rgba(0, 0, 0, 0);
    transition-delay: 0.2s;
  }

  span::before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
  }

  span::after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
  }
}
