.custom-logo-link {
  display: block;
  margin-left: 0;
  max-width: 160px;
  width: 100%;
  max-height: 48px;
}

.custom-logo {
  max-width: 100%;
  height: auto;
  max-height: 48px;
  width: auto;
}

.navbar {
  @include media-breakpoint-up(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  > .container {
    @include media-breakpoint-down(md) {
      max-width: map-get($container-max-widths, "md") - $grid-gutter-width;
    }
  }

  // ie11 fix for vertical align center not working.
  @include is-ie() {
    &::after {
      content: '';
      display: block;
      min-height: inherit;
      font-size: 0;
    }

    .container-fluid {
      &::after {
        content: '';
        display: block;
        min-height: inherit;
        font-size: 0;
      }
    }
  }
}

.navbar-main-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  min-height: 64px - ($navbar-padding-y * 2);

  @include media-breakpoint-up(sm) {
    min-height: 80px - ($navbar-padding-y * 2);
  }

  @include media-breakpoint-up(lg) {
    min-height: 100px - ($navbar-padding-y * 2);
  }

  @include media-breakpoint-up(xl) {
    min-height: 120px - ($navbar-padding-y * 2);
  }

  // ie11 fix for vertical align center not working.
  @include is-ie() {
    &::after {
      content: '';
      display: block;
      min-height: inherit;
      font-size: 0;
    }
  }
}

.navbar-nav {
  .nav-link {
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  /*
  @include media-breakpoint-up(md) {
    .menu-item {
      margin-left: 1rem;
    }
  }
  */

  @include media-breakpoint-up(lg) {
    .menu-item {
      margin-left: 1.8rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .menu-item {
      margin-left: 2.6rem;
    }
  }
}
