/* stylelint-disable no-descending-specificity */

/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter,
.alignwide,
.alignfull {
  clear: both;
}

.container-main,
.container-sub {
  max-width: map-get($container-max-widths, 'md');
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  padding-bottom: 0;
}

.alignment-ready {
  /** Media alignment */
  > .alignfull {
    margin-left: -($grid-gutter-width / 2) !important;
    margin-right: -($grid-gutter-width / 2) !important;
    max-width: 100vw;
    width: calc(100% + #{$grid-gutter-width});

    @include media-breakpoint-up(sm) {
      margin-left: calc(-100vw / 2 + 100% / 2) !important;
      margin-right: calc(-100vw / 2 + 100% / 2) !important;
      max-width: 100vw;
      width: 100vw;
    }
  }

  $md-width: map-get($container-max-widths, 'md');
  $lg-width: map-get($container-max-widths, 'lg');
  $xl-width: map-get($container-max-widths, 'xl');
  $xxl-width: map-get($container-max-widths, 'xxl');

  @include media-breakpoint-up(lg) {
    > .alignwide {
      margin-left: - (($lg-width - $md-width) / 2) !important;
      width: ($lg-width - $grid-gutter-width) !important;
      max-width: ($lg-width - $grid-gutter-width) !important;
    }
  }

  @include media-breakpoint-up(xl) {
    > .alignwide {
      margin-left: - (($xl-width - $md-width) / 2) !important;
      width: ($xl-width - $grid-gutter-width) !important;
      max-width: ($xl-width - $grid-gutter-width) !important;
    }
  }

  @include media-breakpoint-up(xxl) {
    > .alignwide {
      margin-left: - (($xxl-width - $md-width) / 2) !important;
      width: ($xxl-width - $grid-gutter-width) !important;
      max-width: ($xxl-width - $grid-gutter-width) !important;
    }
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
