@mixin is-ie() {
  /* IE9, IE10, IE11 */
  @media screen and (min-width: 0\0) {
    @content;
  }
}

@mixin is-edge() {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin is-not-edge() {
  @supports not(-ms-ime-align:auto) {
    @content;
  }
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin is-ie-media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media screen and (min-width: 0\0) and (min-width: $min) {
      @content;
    }
  } @else {
    @media screen and (min-width: 0\0) {
      @content;
    }
  }
}
