@mixin pretty-link() {
  color: $dark;
  text-decoration: underline;
  text-decoration: none;
  // border-bottom: 2px solid var(--primary);
  box-shadow: inset 0 -1px 0 $gray-500;//var(--muted);
  // box-shadow: inset 0 -6px 0 var(--primary), -4px 0 0 var(--primary), 4px 0 0 var(--primary);
  transition: background .1s cubic-bezier(.33, .66, .66, 1), box-shadow .1s cubic-bezier(.33, .66, .66, 1);

  &:hover {
    color: #fff;
    background-color: var(--primary);
    text-decoration: none;
    box-shadow: inset 0 -1px 0 var(--primary), -4px 0 0 var(--primary), 4px 0 0 var(--primary);
    border-radius: 4px;
  }
}

@mixin make-text-scaling($args: $text-scaling-map) {
  $classes: map-get($args, classes);
  $breakpoints: map-get($args, breakpoints);

  //$columns: count_list($min-txt-sizes);

  $scaling_start_width: 400px;
  $scaling_start_width_nounit: strip-unit($scaling_start_width);

  $scaling_end_width: 1160px;
  $scaling_end_width_nounit: strip-unit($scaling_end_width);

  $scaling_range: $scaling_end_width - $scaling_start_width;
  $scaling_range_nounit: strip-unit($scaling_range);

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    $min_width: breakpoint-min($breakpoint, $breakpoints);

    @if type-of($min_width) != number {
      $min_width: 0;
    }

    @if $min_width < $scaling_start_width {
      $min_width: $scaling_start_width;
    }

    $scaling_curent: $min_width - $scaling_start_width;
    $scaling_curent_nounit: strip-unit($scaling_curent);

    $scaling_progress: $scaling_curent_nounit / $scaling_range_nounit;

    // Set initial font sizes before the scaling starts
    @if ($infix == "") {
      @media (max-width: ($scaling_start_width - 1)) {
        @each $arg in $classes {
          #{map-get($arg,selector-base)}#{$infix}#{map-get($arg, selector-sufix)} {
            font-size: map-get($arg, min-font-size) map-get($arg, style-sufix);
          }
        }
      }
    }

    @if $min_width <= $scaling_end_width {
      //@media (min-width: $min_width) and (max-width: $scaling_end_width) {
      @media (min-width: $min_width) {
        @each $arg in $classes {

          $min_font_size: map-get($arg, min-font-size);
          $min_font_size_nounit: strip-unit($min_font_size);
          $max_font_size: map-get($arg, max-font-size);
          $max_font_size_nounit: strip-unit($max_font_size);

          $font_scaling_range: $max_font_size - $min_font_size;
          $font_scaling_range_nounit: strip-unit($font_scaling_range);

          $current-font-size: ($font_scaling_range_nounit*$scaling_progress) + $min_font_size_nounit;
          $current-font-size: decimal-round($current-font-size, 2);
          $current-font-size: #{$current-font-size}#{unit($min_font_size)};

          @if map-get($arg,set-breakpoints) or $infix == "" {
            // Set font scaling size
            #{map-get($arg,selector-base)}#{$infix}#{map-get($arg,selector-sufix)} {
              font-size: $current-font-size map-get($arg, style-sufix);
              font-size: calc(#{$min_font_size} + (#{$max_font_size_nounit} - #{$min_font_size_nounit}) * ( (100vw - #{$scaling_start_width}) / ( #{$scaling_end_width_nounit} - #{$scaling_start_width_nounit}) )) !important;
            }
          }
        }
      }
      // Set end of scaling size
      @media (min-width: ($scaling_end_width + 1)) {
        @each $arg in $classes {
          @if map-get($arg,set-breakpoints) or $infix == "" {
            #{map-get($arg,selector-base)}#{$infix}#{map-get($arg,selector-sufix)} {
              font-size: map-get($arg, max-font-size) map-get($arg, style-sufix);
            }
          }
        }
      }
    }
  }
}
