// stylelint-disable declaration-no-important

// Contextual backgrounds

@mixin bg-variant($parent, $color) {
  $theme-color-key: str-replace($parent, '.bg-', '');

  #{$parent} {
    background-color: $color !important;

    // Add theme background-color var if available.
    @if (map-has-key($theme-color-vars, $theme-color-key)) {
      background-color: var(--#{$theme-color-key}) !important;
    }
  }

  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;

      // Add theme background-color var if available.
      @if (map-has-key($theme-color-vars, $theme-color-key)) {
        background-color: var(--#{$theme-color-key}-darken-10) !important;
      }
    }
  }
}

// Only used by Bootstrap if $enable-gradients is set to true
@mixin bg-gradient-variant($parent, $color) {
  $theme-color-key: str-replace($parent, '.bg-gradient-', '');

  #{$parent} {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x !important;

    @if (map-has-key($theme-color-vars, $theme-color-key)) {
      background: var(--#{$theme-color-key}) linear-gradient(180deg, var(--#{$theme-color-key}-lighten-10), var(--#{$theme-color-key})) repeat-x !important;
    }
  }
}
