.content-info {
  position: relative;
  padding-bottom: map-get($spacers, 6);
  padding-top: map-get($spacers, 5);
}

/*
.sidebar-footer {
  margin-bottom: map-get($spacers, 4);
}
*/

.sidebar-footer__widget {
  margin-bottom: map-get($spacers, 4);
}

.sidebar-footer__widget-title {
  font-weight: 700;

  // @extend %body-font-size;
}
