/* stylelint-disable no-descending-specificity */
.page-header {
  @extend %mt-r;
}

/*
.page-header {
  > * {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: $entry-content-aligncenter-max-width;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1 {
    font-size: 1.375rem;
    margin-top: 30px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      font-size: 2.625rem;
    }
  }
}
*/
