.entry-card {
  p {
    margin-bottom: 0.25rem;
  }

  a {
    text-decoration: none;
    color: $dark;

    &:hover {
      color: $text-muted;
    }
  }

  .entry-thumb {
    padding-bottom: 56%;
    background: #efefef;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .entry-title {
    margin-bottom: 0.25rem;
  }

  .entry-meta {
    color: $text-muted;
  }
}

.entry-article {
  .entry-meta-categories {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80%;
  }

  .entry-header {
    @extend %pt-r;
    @extend %pb-r;
  }

  /*
  .entry-title {
    margin-bottom: 0.1rem;
  }
  */

  .entry-meta {
    color: $text-muted;
    font-size: $small-font-size;
  }

  .entry-meta-item {
    &:not(:first-child)::before {
      content: "";
      border-left: 1px solid currentColor;
      display: inline-block;
      height: 1rem;
      margin: 0 .4rem;
      vertical-align: middle;
    }
  }

  .entry-comments {
    .container {
      max-width: map-get($container-max-widths, "md");
    }
  }

  .entry-content {
    > p > a {
      @include pretty-link();
    }

    line-height: $line-height-base;

    @include media-breakpoint-up(sm) {
      line-height: $line-height-base + .05;
    }

    @include media-breakpoint-up(md) {
      line-height: $line-height-base + .1;
    }

    @include media-breakpoint-up(lg) {
      line-height: $line-height-base + .15;
    }

    @include media-breakpoint-up(xl) {
      line-height: $line-height-base + .2;
    }
  }
}

$entry-title-text-scaling-map: (
  breakpoints: $grid-breakpoints,
  classes: (
    (
      selector-base: '.entry-article .entry-title',
      min-font-size: 28px,
      max-font-size: 56px,
      style-sufix: !important,
      set-breakpoints: false
    ),
  )
);

@include make-text-scaling($entry-title-text-scaling-map);
