/* stylelint-disable no-descending-specificity */

//
// Blockquote
//

blockquote,
.blockquote {
  @extend %mb-r;

  p:last-of-type {
    margin-bottom: 0.25rem;
  }

  cite,
  .cite {
    display: block;
    font-size: 80%;
    color: $text-muted;
  }
}
