.has-primary-color {
  color: var(--primary);
}

.has-secondary-color {
  color: var(--secondary);
}

.has-muted-color {
  color: $text-muted;
}

.has-dark-color {
  color: $dark;
}

.has-background {
  background-color: #e8e8e8;
}

.has-primary-background-color {
  background-color: var(--primary);
}

.has-secondary-background-color {
  background-color: var(--secondary);
}

.has-muted-background-color {
  background-color: $text-muted;
}

.has-dark-background-color {
  background-color: $dark;
}

.has-background-dim {
  &::before {
    background-color: #222;
    background-color: var(--primary) !important;
    opacity: 0.5;
  }

  @for $i from 2 through 4 {
    &.has-background-dim-#{$i}0::before {
      opacity: $i / 10;
    }
  }

  @for $i from 6 through 10 {
    &.has-background-dim-#{$i}0::before {
      opacity: $i / 10;
    }
  }
}
