/*
ul,
ol,
dl {
  line-height: 1.75;
}

small,
.small,
.has-small-font-size {
  font-size: 80%; // ($font-size * 0.875);
}

@mixin calc-typography($font-size, $spacing) {
  // html,
  body,
  .has-regular-font-size {
    font-size: $font-size;
  }

  p,
  blockquote,
  .blockquote,
  ul,
  ol,
  dl {
    margin-bottom: $spacing;
  }

  p.has-background {
    padding: ($spacing * 1.1) ($spacing * 1.2);
  }

  h1,
  .h1,
  .has-larger-font-size {
    font-size: ($font-size * 1.5);// $font-size + 0.45rem;
  }

  h2,
  .h2,
  .has-large-font-size,
  .lead {
    font-size: ($font-size * 1.25);// $font-size + 0.35rem;
  }

  h3,
  .h3 {
    font-size: ($font-size * 1.2);// $font-size + 0.25rem;
  }

  h4,
  .h4 {
    font-size: ($font-size * 1.15);// $font-size + 0.15rem;
  }

  h5,
  .h5 {
    font-size: ($font-size * 1.1);// $font-size + 0.05rem;
  }

  h6,
  .h6 {
    font-size: $font-size;
  }
}

@include calc-typography(1rem, 1rem);

@include media-breakpoint-up(sm) {
  @include calc-typography(1.05rem, 1.2rem);
}

@include media-breakpoint-up(md) {
  @include calc-typography(1.1rem, 1.4rem);
}

@include media-breakpoint-up(lg) {
  @include calc-typography(1.15rem, 1.7rem);
}

@include media-breakpoint-up(xl) {
  @include calc-typography(1.2rem, 2rem);
}
*/

html {
  font-size: $font-size-base;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-base + .05rem;
  }

  .display-1 {
    font-size: $display1-size * 1.05;
  }

  .display-2 {
    font-size: $display2-size * 1.05;
  }

  .display-3 {
    font-size: $display3-size * 1.05;
  }

  .display-4 {
    font-size: $display4-size * 1.05;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base + .1rem;
  }

  .display-1 {
    font-size: $display1-size * 1.1;
  }

  .display-2 {
    font-size: $display2-size * 1.1;
  }

  .display-3 {
    font-size: $display3-size * 1.1;
  }

  .display-4 {
    font-size: $display4-size * 1.1;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-base + .15rem;
  }

  .display-1 {
    font-size: $display1-size * 1.15;
  }

  .display-2 {
    font-size: $display2-size * 1.15;
  }

  .display-3 {
    font-size: $display3-size * 1.15;
  }

  .display-4 {
    font-size: $display4-size * 1.15;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: $font-size-base + .2rem;
  }

  .display-1 {
    font-size: $display1-size * 1.2;
  }

  .display-2 {
    font-size: $display2-size * 1.2;
  }

  .display-3 {
    font-size: $display3-size * 1.2;
  }

  .display-4 {
    font-size: $display4-size * 1.2;
  }
}

/*
body {
  line-height: $line-height-base;
}

@include media-breakpoint-up(sm) {
  body {
    line-height: $line-height-base + .05;
  }
}

@include media-breakpoint-up(md) {
  body {
    line-height: $line-height-base + .1;
  }
}

@include media-breakpoint-up(lg) {
  body {
    line-height: $line-height-base + .15;
  }
}

@include media-breakpoint-up(xl) {
  body {
    line-height: $line-height-base + .2;
  }
}
*/

p {
  @extend %mb-r;
}

.has-small-font-size {
  font-size: $small-font-size;
}

.has-regular-font-size {
  font-size: $font-size-base;
}

.has-medium-font-size {
  font-size: ($font-size-base * 1.4);
  font-weight: $lead-font-weight;
}

.has-large-font-size {
  font-size: ($font-size-base * 1.8);
  font-weight: $lead-font-weight;
}

.has-huge-font-size {
  font-size: ($font-size-base * 2.2);
  font-weight: $lead-font-weight;
}

/*
.has-medium-font-size {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

.has-large-font-size {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

.has-medium-font-size {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}
*/
