$entry-content-aligncenter-max-width: map-get($container-max-widths, 'md') - $grid-gutter-width;// 740px;
$entry-content-alignwide-max-width: map-get($container-max-widths, 'xl') - $grid-gutter-width;// 1100px;
$entry-content-alignfull-max-width: 100%;

$theme-color-vars: (
  "primary":    --primary,
  "secondary":  --secondary,
);
