//
// Color system
//
$white:    #fff;
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-800: #343a40;
$black:    #000;

$light:         $gray-100;
$dark:          $gray-800;

$fallback: $dark;
$theme-colors: (
  "primary":    $fallback,
  "secondary":  $fallback,
  "muted":      $gray-600
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  6: ($spacer * 6)
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1560px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  // sm: 750px,
  // md: 750px,
  md: 610px,
  lg: 960px,
  xl: 1140px,
  xxl: 1230px
);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: var(--font-family-base);

$headings-font-family: var(--font-family-headings);

$font-size-base:              1rem;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$h1-font-size:                $font-size-base * 1.2;
$h2-font-size:                $font-size-base * 1.175;
$h3-font-size:                $font-size-base * 1.15;
$h4-font-size:                $font-size-base * 1.125;
$h5-font-size:                $font-size-base * 1.1;
$h6-font-size:                $font-size-base;

$display1-size:               2.5rem;
$display2-size:               2.25rem;
$display3-size:               2rem;
$display4-size:               1.75rem;

$lead-font-size:              ($font-size-base * 1.4);
// $lead-font-weight:            $font-weight-normal;

// Links
//
// Style anchor elements.

$link-color:                var(--primary);
//$link-decoration:           none !default;
$link-hover-color:          var(--primary);
//$link-hover-decoration:     underline !default;

// Navbar

$navbar-padding-y:                  8px;
$navbar-padding-x:                  15px;// $spacer !default;

$navbar-toggler-padding-y:          5px;
$navbar-toggler-padding-x:          5px;
$navbar-toggler-border-radius:      0;

$navbar-light-color:                rgba($black, 0.9);
$navbar-light-hover-color:          var(--primary);//rgba($black, .7) !default;
$navbar-light-active-color:         var(--primary);//rgba($black, .9) !default;
$navbar-light-toggler-border-color: transparent;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{$navbar-light-color}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); // stylelint-disable-line function-whitespace-after

$navbar-dark-color:                rgba($white, 0.9);
$navbar-dark-toggler-border-color: transparent;
$navbar-dark-toggler-icon-bg:      url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{$navbar-dark-color}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); // stylelint-disable-line function-whitespace-after

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           2px;
$btn-border-radius-lg:        2px;
$btn-border-radius-sm:        2px;

// Forms

$input-border-radius:                   2px;
$input-border-radius-lg:                2px;
$input-border-radius-sm:                2px;
