.absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

/*
@include media-breakpoint-up(md) {
  .position-md-static {
    position: static !important;
  }

  .position-md-relative {
    position: relative !important;
  }

  .position-md-absolute {
    position: absolute !important;
  }

  .position-md-fixed {
    position: fixed !important;
  }

  .position-md-sticky {
    position: sticky !important;
  }
}
*/
