.min-h-50 {
  min-height: 600px !important;
  max-height: 600px;
}

.min-h-100 {
  min-height: 100vh;
}

.min-h-cover {
  min-height: calc(100vh - 64px);

  @include media-breakpoint-up(sm) {
    min-height: calc(100vh - 80px);
  }

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 100px);
  }

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - 120px);
  }
}

@include media-breakpoint-up(md) {
  .min-h-md-50 {
    min-height: 50vh;
  }

  .min-h-md-100 {
    min-height: 100vh;
  }
}

.min-h-md-cover {
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 80px);
  }

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 100px);
  }

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - 120px);
  }
}
