%mt-r {
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    margin-top: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    margin-top: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 1.75rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 2rem;
  }
}

.mt-r {
  @extend %mt-r;
}

%mb-r {
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 1.75rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 2rem;
  }
}

.mb-r {
  @extend %mb-r;
}

%content-spacer-pull-top {
  margin-top: -1rem;

  @include media-breakpoint-up(sm) {
    margin-top: -1.25rem;
  }

  @include media-breakpoint-up(md) {
    margin-top: -1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: -1.75rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -2rem;
  }
}

%pt-r {
  padding-top: 1rem;

  @include media-breakpoint-up(sm) {
    padding-top: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 1.75rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 2rem;
  }
}

.pt-r {
  @extend %pt-r;
}

%pb-r {
  padding-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    padding-bottom: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 1.75rem;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 2rem;
  }
}

.pb-r {
  @extend %pb-r;
}
